<div class="mx-4">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex minima vel
      obcaecati molestiae nisi omnis totam, dolores quas, laudantium alias
      tempore, tempora inventore sed et corporis debitis perspiciatis nam
      laboriosam!
    </p>
    <p>These steps were used to create this responsive navbar.</p>
  
    <ol>
      <li>
        Add a property to the component to track whether the menu is open. In this
        example, the property is called <code>isMenuCollapsed</code>.
      </li>
      <li>
        Add an <code>ngbCollapse</code> directive to the element with the
        <code>navbar-collapse</code> CSS class. Use the property in the component
        as the value for the directive.
      </li>
      <li>
        When the navbar toggler button is clicked, toggle the value of the
        property in the component.
      </li>
      <li>
        If you would like the menu to close when a link is clicked, add a
        <code>(click)</code> handler to each link and set the property on the
        component to true to hide the menu.
      </li>
    </ol>
  
    <p>Resize your browser window to see it in action!</p>
  </div>
  